@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
h1:hover{
    cursor: pointer;
    color: rgb(166, 190, 210);
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    margin-left: 15px;
    padding: 10px 12px;
}
nav ul li:hover{
    color: rgb(216, 20, 121);
    cursor: pointer;
    background-color: rgb(136, 188, 232);
    border-radius: 5px ;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: rgb(227, 17, 164);
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 75%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg2.jpg');
}
.container:hover{
    width:77%;
    box-shadow:  10px 5px 11px 11px rgba(100, 10, 10, 0.5);
    cursor: pointer;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 20%;
    background-color: rgb(157, 8, 8);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.bottom:hover{
    height: 25%;
    cursor: pointer;
    background-color: rgb(86, 145, 125);
    box-shadow:  10px 5px 11px 11px rgba(143, 150, 3, 0.5);
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px;
}

.songItem{
    height: 45%;
    display: flex;
    background-color: white;
    margin-left: -10px;
    color: black;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 30px;
    margin: 0 20px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 5px;
   
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }